
.titled-pane > .title {
    -fx-background-color: #EAEAEA;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 0 0 1 0;
}

/* Estilo para o botão de salvar */
.save-button {
    -fx-background-color: #28a745; /* Verde */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-font-weight: bold;
}
.save-button:hover {
    -fx-background-color: #218838;
}